
<header class="container">
  
    <div class="container-redes ">
        <ul class="redes">
            <li>
                <div class="logo">
                    <img src="../../../assets/argentina-programa-logo.png"> 
                </div>
            </li>
            <!-- redes sociales -->
            <li class="redes_li">
                <a href="">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>  
            <li class="redes_li">
                <a href="">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li class="redes_li">
                <a href="">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </li>
        </ul>
        
     </div>
