<div class="container">
    <div id="info-img">
        <img src="../../../assets/karla.jpg" class="profile-image">
    </div>
    <div class="container container-acercade">
        <div class="nombre-acercade">
            <h1>{{persona.nombre}} {{persona.apellido}}</h1>
            <h3>Programadora Full Stack</h3>
        </div>
        <div class="descripcion-acercade">
            <h3>
                Descripcion:
            </h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, vel iusto. Sunt veniam nemo ipsam, necessitatibus aperiam fugit repellat, pariatur rem nam qui consequatur, vel odio hic officiis? Odit, exercitationem?</p> 
        </div>
    </div>
</div>
